//CHANGE LEAGUE TYPE
.changeLeague-type {
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 1.7rem;
    color: $color-black;

    &__button {
        display: inline-block;

        &:not(:last-child) {
            margin-right: .5rem;
        }

        &:hover {
            cursor: pointer;
            color: $color-main-one;
        }

        &--clicked {
            color: $color-main-one;
            font-size: 2rem;
        }
    }
}

//CHART BOX
.chart-box {
    position: relative;
    // width: 50rem;
    // height: 10rem;
    height: 30rem;
    width: 100%;
}

//ICON
.icon {
    font-size: 5rem;

   &__for {
        color: $color-main-three;
   }

   &__against {
        color: $color-red;
   }
}

//SELECT
.select { 
    
    &__checkbox {
       display: none;
    }
    
    &__button {
      position: fixed;
      top: 60px;
      right: 60px;
      width: 50px;
      height: 50px;
      background-color: rgba($color-white, .5);
      box-shadow: 0 0 10px 0px $color-main-one;
      border-radius: 50%;
      cursor: pointer;
      z-index: 100;
      
      &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        left:0;
        z-index:-1;
        background-color: rgba($color-white, .5);
        border-radius: 50%;
      }
      
      &:hover::after {
        animation: pulsar .5s cubic-bezier(.97,.34,.78,.36) infinite;
      }
      
    }
    
    &__icon{
      position: absolute;
      width: 50px;
      height: 50px;
      transition: all .5s;
  
      &::before, &::after{
        content: ' ';
        position: absolute;
        height: 50px;
        width: 2px;
        background-color: rgba($color-main-one, .8);
        transition: all .5s;
        left: 50%;
      }
      
      &::before {
        transform: rotate(0deg);
      }
      
      &::after {
        transform: rotate(90deg);
      }
    }
    
    &__nav {
      position: fixed;
      top: 50px;
      opacity: 0;
      right: -200px;
      transition: all .2s;
      background-color: rgba($color-white, .5);
      box-shadow: 0 0 10px 0px $color-white;
      z-index: 100;
    }
    
    &__list {
      list-style: none;
      width: 100%;
    }
    
    &__item {
      
    }
    
    &__link {
      display: inline-block;
      text-decoration: none;
      text-shadow: 0 0 5px $color-white;
      color: $color-main-two;
      font-size: 25px;
      padding: 5px 8px;
      transition: all .2s;
      cursor: pointer;
      
      &:hover, &:active {
        transform: scale(1.1);
        color: $color-main-one;
      }
      
    }
    
    &__checkbox:checked ~ &__nav {
      transform: translateX(-350px);
      opacity: 1;
    }
    
    &__checkbox:checked + &__button &__icon::before,
    &__checkbox:checked + &__button &__icon::after {
        background-color: $color-red;
    }
    
    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(225deg);
    }
    
    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(315deg);
    }

  }

//TABLES
.table{
    width: 100%;
    border-spacing: .5rem;
    color: $color-black;
    font-size: 1.4rem;

    & thead {
        background-image: linear-gradient(
        to left bottom, 
        rgba($color-main-three, .2), 
        rgba($color-main-one, .2));
        border-bottom: 1px solid $color-white;
    }

    & tbody {
        background-image: linear-gradient(
        to right top, 
        rgba($color-main-three, .2), 
        rgba($color-main-one, .2));
    }

    & tr, & th, & td {
        border: 1px solid rgba($color-white, 0.1);
    }

    //LEAGUE TABLE DETAILS
    //color for teams
    &__league {

        //specific width for columns
        &-position {
            width: 5%;
        }
    
        &-teams {
            width: 20%;
        }
    
        &-wins, &-draw, &-lost {
            width: 7%;
        }
    
        &-played_games, &-points {
            width: 12%
        }
    
        &-goals-for, &-goals-against, &-goals-diff {
            width: 10%;
        }

        //SPECIFIC COLORS FOR ROWS
        & tbody tr {
            &:nth-child(1) {
                background-color: rgba($color-main-one, 0.8);
            }
            &:nth-child(2) {
                background-color: rgba($color-main-one, 0.6);
            }
            &:nth-child(3) {
                background-color: rgba($color-main-one, 0.4);
            }
            &:nth-child(4) {
                background-color: rgba($color-main-one, 0.2);
            }
            &:nth-child(5) {
                background-color: rgba($color-main-three, 0.6);
            }
            &:nth-child(6) {
                background-color: rgba($color-main-three, 0.4);
            }
            &:nth-child(18) {
                background-color: rgba($color-red, 0.2);
            }
            &:nth-child(19) {
                background-color: rgba($color-red, 0.4);
            }
            &:nth-child(20) {
                background-color: rgba($color-red, 0.6);
            }   
        }
    }
  
    //SCORERS TABLE DETAILS
    &__scorers {
        height: 90%;

        & tbody tr {
            
            & td {
                vertical-align: middle;
            }

            //color for first three player
            &:nth-child(1){
                background-color: rgba($color-main-one, 0.8);
            }
            &:nth-child(2){
                background-color: rgba($color-main-one, 0.6);
            }
            &:nth-child(3){
                background-color: rgba($color-main-one, 0.4);
            }
        } 
    }


    //TEAMS TABLES DETAILS
    &__finished-match {
        &--matchday {
            width: 15%;
        }

        &--home-team, &--away-team {
            width: 35%;
        }

        &--score {
            width: 15%;
        }
    }

    &__scheduled-match {

        //specific width for columns
        &--matchday {
            width: 15%;
        }
    }
}

//HEADING
.heading-one {
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-size: 6rem;
    font-weight: 700;

    //FIRST OPTION
    color: $color-main-one;
    text-shadow: 3px 3px 3px $color-black;

    //SECOND OPTION
    // background-image: linear-gradient(to right bottom, $color-main-one 50%, $color-main-three);
    // -webkit-background-clip: text;
    // color: transparent;
}

.heading-two {
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 4rem;

    color: $color-main-one;
    text-shadow: 2px 2px 2px $color-black;
}

.heading-three {
    text-transform: uppercase;
    letter-spacing: .5 rem;
    font-size: 2rem;
    color: $color-main-one;
    text-shadow: 1px 1px 1px $color-black;
}


//CHARTS INPUT
.chartDiff-settings{

    &__value{
        width: 5rem;
        font-family: inherit;
        font-size: 1.5rem;

        background-color: transparent;
        text-align: center;
        border: 1px solid rgba($color-white, .1);

        &:active{
        border: 1px solid rgba($color-white, 1);

        }

    }

    &__text{
        font-family: inherit;
        font-size: 1.5rem;
    }
}
