.section-league {
    padding: 2rem;
    @include one-bg; //linear background one
}

.section-league-stats {
    padding: 2rem;
    @include two-bg; //linear background one
}

.section-teams {
    padding: 2rem;
    @include one-bg; //linear background one
}

.section-teams-stats {
    padding: 2rem;
    @include two-bg; //linear background one
}

//HEADER
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-main-one, 0.2), 
        rgba($color-main-three, 0.2)), 
        url("../img/back-1.jpg");
    // background-image: url("../img/back-1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

    &__logo-box {
        font-size: 3rem;
        color: $color-white;
        text-shadow: 2px 2px 2px $color-black;
    }
}

//CHARTS GOALS
.chartGoals-box{
    display: flex;
    align-items: stretch;
    justify-content: center;

    &__details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__settings{
        margin-bottom: 2rem;
    }

    &__value{
        -webkit-appearance: none; 
        width: 100%;
        background: transparent;
        color: $color-main-two;

        &::-webkit-slider-thumb {
            border: 1px solid #000000;
            height: 36px;
            width: 160px;
            border-radius: 50rem;
            background: $color-main-one;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 1rem;
            background: $color-main-one;
            box-shadow: 1px 1px 1px #000000;
            border-radius: 20rem;
            cursor: pointer;
          }

        
        &:focus{
            outline: none;
        }

    }
}

#chartGoalsRow{
    display: none;
}

.chartGoalsRow{
    // visibility: hidden;
}

//FELX BOXES
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed rgba($color-white, .7);

    @include respond(phone){
        flex-direction: column;
        align-items: center;
    }

    &:not(:last-child) {
        margin-bottom: $margin-vertical;
    }

    [class^="col-"] {
        text-align: center;
        // background-color: rgba(255, 255, 255, 0.747);
        // border: 1px solid black;

        @include respond(phone) {
            width: 100%;
        }

        &:not(:last-child) {
        margin-right: $margin-horizontal;
        }
    }

    & .col-100 {
        width: 100%;
    }

    & .col-50 {
        width: 50%;
    }
    
    & .col-75 {
        width: 80%;

        @include respond(phone) {
            width: 100%;
        }
    }

    & .col-25 {
        width: 25%;

        @include respond(phone) {
            width: 100%;
        }
    }

    & .col-65 {
        width: 65%;

        @include respond(phone) {
            width: 100%;
        }
    }

    & .col-35 {
        width: 35%;

        @include respond(phone) {
            width: 75%;
        }
    }

    & .col-33 {
        width: 33%;
    }
}