@mixin one-bg {
    background-image: linear-gradient(
        to left bottom, 
        rgba($color-main-three, 0.4), 
        rgba($color-main-one, 0.4));
}

@mixin two-bg {
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-main-one, 0.4), 
        rgba($color-main-three, 0.4));
}

//MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet landscape
1200 - 1800px   Normal style
1800px+         Big desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/

//1em = 16px
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };  //900px
    }
}