//COLORS
$color-main-one: #EB5F10;
$color-main-one: rgb(235, 95, 16);

$color-main-two: #bd790e;
$color-main-two: rgb(189, 121, 14);

$color-main-three: #206411;
$color-main-three: rgb(32, 100, 17);

$color-main-four: #143E19;
$color-main-four: rgb(20, 62, 25);

$color-red: #860000;
$color-red: rgb(134, 0, 0);


$color-black: #000;
$color-white: #fff;



//POSITION
$margin-vertical: 2rem;
$margin-horizontal: 2rem;