.section-league {
    padding: 2rem;
    @include one-bg; //linear background one
}

.section-league-stats {
    padding: 2rem;
    @include two-bg; //linear background one
}

.section-teams {
    padding: 2rem;
    @include one-bg; //linear background one
}

.section-teams-stats {
    padding: 2rem;
    @include two-bg; //linear background one
}