.table{
    width: 100%;
    border-spacing: .5rem;
    color: $color-black;
    font-size: 1.4rem;

    & thead {
        background-image: linear-gradient(
        to left bottom, 
        rgba($color-main-three, .2), 
        rgba($color-main-one, .2));
        border-bottom: 1px solid $color-white;
    }

    & tbody {
        background-image: linear-gradient(
        to right top, 
        rgba($color-main-three, .2), 
        rgba($color-main-one, .2));
    }

    & tr, & th, & td {
        border: 1px solid rgba($color-white, 0.1);
    }

    //LEAGUE TABLE DETAILS
    //color for teams
    &__league {

        //specific width for columns
        &-position {
            width: 5%;
        }
    
        &-teams {
            width: 20%;
        }
    
        &-wins, &-draw, &-lost {
            width: 7%;
        }
    
        &-played_games, &-points {
            width: 12%
        }
    
        &-goals-for, &-goals-against, &-goals-diff {
            width: 10%;
        }

        //SPECIFIC COLORS FOR ROWS
        & tbody tr {
            &:nth-child(1) {
                background-color: rgba($color-main-one, 0.8);
            }
            &:nth-child(2) {
                background-color: rgba($color-main-one, 0.6);
            }
            &:nth-child(3) {
                background-color: rgba($color-main-one, 0.4);
            }
            &:nth-child(4) {
                background-color: rgba($color-main-one, 0.2);
            }
            &:nth-child(5) {
                background-color: rgba($color-main-three, 0.6);
            }
            &:nth-child(6) {
                background-color: rgba($color-main-three, 0.4);
            }
            &:nth-child(18) {
                background-color: rgba($color-red, 0.2);
            }
            &:nth-child(19) {
                background-color: rgba($color-red, 0.4);
            }
            &:nth-child(20) {
                background-color: rgba($color-red, 0.6);
            }   
        }
    }
  
    //SCORERS TABLE DETAILS
    &__scorers {
        height: 90%;

        & tbody tr {
            
            & td {
                vertical-align: middle;
            }

            //color for first three player
            &:nth-child(1){
                background-color: rgba($color-main-one, 0.8);
            }
            &:nth-child(2){
                background-color: rgba($color-main-one, 0.6);
            }
            &:nth-child(3){
                background-color: rgba($color-main-one, 0.4);
            }
        } 
    }


    //TEAMS TABLES DETAILS
    &__finished-match {
        &--matchday {
            width: 15%;
        }

        &--home-team, &--away-team {
            width: 35%;
        }

        &--score {
            width: 15%;
        }
    }

    &__scheduled-match {

        //specific width for columns
        &--matchday {
            width: 15%;
        }
    }
}