.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-main-one, 0.2), 
        rgba($color-main-three, 0.2)), 
        url("../img/back-1.jpg");
    // background-image: url("../img/back-1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

    &__logo-box {
        font-size: 3rem;
        color: $color-white;
        text-shadow: 2px 2px 2px $color-black;
    }
}